* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form div {
	width: 50%;
}

.form div.btn {
	width: 250px;
}

.form input {
	width: 100%;
}

.form textarea {
	width: 100%;
}

.wrapper {
	margin: auto;
	color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.wrapper b {
color: #00FF00;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://scontent.ftlv6-1.fna.fbcdn.net/v/t1.6435-9/209813703_10226318327931373_9161599324063247210_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=730e14&_nc_ohc=ycPwCDOYacYAX97XrHK&_nc_ht=scontent.ftlv6-1.fna&oh=566a6d3afd3ff5a9617c44b353eb3ce7&oe=60E799CF);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}

.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #00FF00;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}

.about-us-text h2 {

	width: 900px;
	height: 20px;
	margin: 20% 30%;
	text-align: center;
	color: #fff;
	display: inline-block;

}

.contact-title {
	text-align: center;
	padding-left: 15%;
}
.logo-title {
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
}



/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width:100% ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}


.container{
  max-width: 600px;
  height: 400px;
  background: #fff;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(72,98,85, 0.6);
  box-sizing: border-box;
  padding: 40px;
}

p{
  text-align: center;
  letter-spacing: 1px;
  font-size: 45px;
  margin-bottom: 20px;
  color: #00FF00;
}

.input,
.msg .area{
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}



.msg .area{
  height: 200px;
}

.btn{
  width: 100px;
  background: #00FF00;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.input:focus,
.msg .area:focus{
  border: 2px solid #486255;
}

::-webkit-input-placeholder{
  font-family: 'roboto';
}

